<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.theserverside.com/news/1364121/Setting-Up-a-Maven-Repository -->
<settings xsi:schemaLocation="https://maven.apache.org/SETTINGS/1.1.0 https://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="https://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>openflexo-libs-release</id>
          <name>libs-release</name>
          <url>https://maven.openflexo.org/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>openflexo-libs-snapshots</id>
          <name>libs-snapshot</name>
          <url>https://maven.openflexo.org/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>openflexo-plugins-release</id>
          <name>plugins-release</name>
          <url>https://maven.openflexo.org/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>openflexo-snapshots</id>
          <name>plugins-snapshot</name>
          <url>https://maven.openflexo.org/artifactory/plugins-snapshot</url>
        </pluginRepository>
	<pluginRepository>
		<id>Codehaus repository</id>
		<url>http://repository.codehaus.org/</url>
	</pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
