<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.theserverside.com/news/1364121/Setting-Up-a-Maven-Repository -->
<settings xsi:schemaLocation="https://maven.apache.org/SETTINGS/1.1.0 https://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="https://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
    
     <distributionManagement>
    <repository>
     <id>maven.openflexo.org</id>
        <name>maven.openflexo.org-releases</name>
        <url>https://maven.openflexo.org/artifactory/openflexo-release</url>
    </repository>
    <snapshotRepository>
      <id>maven.openflexo.org</id>
        <name>maven.openflexo.org-snapshots</name>
        <url>https://maven.openflexo.org/artifactory/openflexo-snapshot</url>
    </snapshotRepository>
    <site>
      <!-- Use mvn site:stage to get a working local copy of site AFTER building it normally -->
      <id>local-viewing</id>
      <url>file://${project.baseDir}/target/staging/</url>
    </site>
  </distributionManagement>
    
    
      <id>artifactory</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
           <id>maven.openflexo.org</id>
        	<name>maven.openflexo.org-releases</name>
       	 	<url>https://maven.openflexo.org/artifactory/openflexo-release</url>
        </repository>
        <repository>
          <snapshots />
         <id>maven.openflexo.org</id>
        <name>maven.openflexo.org-snapshots</name>
        <url>https://maven.openflexo.org/artifactory/openflexo-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>maven.openflexo.org</id>
        	<name>maven.openflexo.org-releases</name>
       	 	<url>https://maven.openflexo.org/artifactory/openflexo-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
           <id>maven.openflexo.org</id>
        <name>maven.openflexo.org-snapshots</name>
        <url>https://maven.openflexo.org/artifactory/openflexo-snapshot</url>
        </pluginRepository>
	<pluginRepository>
		<id>Codehaus repository</id>
		<url>http://repository.codehaus.org/</url>
	</pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
